<!DOCTYPE html>
<html>
<head>
<script>
function validateForm() {
  var x = document.forms["myForm"]["fname"].value;
  if (x == "" || x == null) {
    alert("Name must be filled out");
    return false;
  }
}
</script>
</head>
<body>

<h2>Enter Details</h2>
<p>Try to submit the form without entering any text.</p>

<form name="myForm" action="http://127.0.0.1:5002/" onsubmit="return validateForm()" method="get" required>
  Name: <input type="text" name="fname">
  <input type="submit" value="Submit">
</form>

</body>
</html>